{% load static %}

{% include 'dashboard_header.html' with me=title %}
<!-- main content start -->
<!-- graph start -->
{% if user.is_authenticated %}

<!-- graph ends -->
<h2 class="mt-5">{{title}}</h2>
<div class="container-fluid mx-auto d-flex justify-content-between">
  {% if today %}
  <div>
  <form action="/date_filter" method="GET">
    {% csrf_token %}
    <div class=" mb-2">

      
      <label for="from">From</label>
      <input type="date" id="from" name="from" value="{{ today|date:'Y-m-d' }}" max="{% now 'Y-m-d' %}">
      <label for="to">To</label>
      <input type="date" id="to" name="to" value="{{ last|date:'Y-m-d' }}" max="{% now 'Y-m-d' %}">
      <input type="submit" class="text center" value="search">
    </div>

  </form>
  </div>
  <div class="mb-2">
    {% if title == 'View Leads' %}
    <a href="/pdf/{{cid}}/2" class="btn btn-dark">PDF</a>
    <a href="/csv/{{cid}}/2" class="btn btn-dark">CSV</a>
    {% elif title == 'Search' %}
    <a href="/pdf/{{cid}}/3" class="btn btn-dark">PDF</a>
    <a href="/csv/{{cid}}/3" class="btn btn-dark">CSV</a>
    {% elif title == 'All Leads' %}
    <a href="/pdf/{{ today|date:'Y-m-d' }}/{{ last|date:'Y-m-d' }}" class="btn btn-dark">PDF</a>
    <a href="/csv/{{ today|date:'Y-m-d' }}/{{ last|date:'Y-m-d' }}" class="btn btn-dark">CSV</a>
    {% elif title == 'Date Filter' %}
    <a href="/pdf/{{ today|date:'Y-m-d' }}/{{ last|date:'Y-m-d' }}" class="btn btn-dark">PDF</a>
    <a href="/csv/{{ today|date:'Y-m-d' }}/{{ last|date:'Y-m-d' }}" class="btn btn-dark">CSV</a>
    {% endif %}
</div>
{% endif %}
</div>
  <!-- dashborad start -->

  {% if total %}
  <h2 class="text-center mb-4">Total&nbsp;{{total}}</h2>
  {% endif %}
  <div class="table-responsive rounded-3 border border-light p-2 mb-3 bg-light">
    <table class="table mx-auto table-light table-striped mw-100 container-fluid h-100 display"
      data-order='[[ 1, "asc" ]]' id="table" style="min-width: max-content;">
      <thead>
        <tr>
          <th class="text-center">Ref Id</th>
          <th class="text-center">Retailer Name</th>
          <th class="text-center">Mobile</th>
          <th class="text-center">Picked On</th>
          <th class="text-center">Added By</th>
          <th class="text-center">Shop Name</th>
          <th class="text-center">City</th>
          <th class="text-center">State</th>
          <th class="text-center">Status</th>
          <th class="text-center">Actions</th>

        </tr>
      </thead>

      {% if user.is_staff %}

      <tbody>
        <!-- Replace the loop with actual data -->
        {% for x in data %}
        <tr>
          <td class="text-center">{{x.order_id}}</td>
          <td class="text-center">{{x.name}}</td>
          <td class="text-center">{{x.mob}}</td>
          <td class="text-center">{{x.picked_date}}</td>
          <td class="text-center">{{x.agent_id.first_name}}</td>
          <td class="text-center">{{x.shop_name}}</td>
          <td class="text-center">{{x.city}}</td>
          <td class="text-center">{{x.state}}</td>
          {% if x.status == 1 %}
          <td class="text-center">Created</td>
          {% elif x.status == 2 %}
          <td class="text-center">Interested</td>
          {% elif x.status == 3 %}
          <td class="text-center">Not Interested</td>
          {% elif x.status == 4 %}
          <td class="text-center">CallBack</td>
          {% elif x.status == 5 %}
          <td class="text-center">Completed</td>
          {% else %}
          <td class="text-center">Not Define</td>
          {% endif %}
          <td class="text-center">
            <a href="https://ztecrm.com/view/{{x.id}}" class="btn btn-primary viewedit">
              View
            </a>
            <a href="https://ztecrm.com/edit/{{x.id}}" class="btn btn-warning viewedit">
              Edit
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
  </div>

</div>

</div>
{% else %}
<div class="text-center mt-5 text">
  <a href="/login" class="mt-5 anchor">
    <h2 class="font-bold" style="font-size: 62px; color: #2C3E50;">{{err}}</h2>
  </a>
</div>
{% endif %}
<!-- dashboard ends -->
{% include 'dashboard_footer.html' %}