{% load static %}

{% include 'dashboard_header.html' with me="Generate Lead" %}
        <!-- main content start -->
        <!-- graph start -->
      {% if user.is_authenticated %}
    
            <h3 class="mt-3">New Lead</h3>
            {% if errmsg %}
            <div class="alert alert-danger">
                {{errmsg}}
            </div>
            {% endif %}

            {% if success %}
            <div>
                <h2 class="text-center mb-4 text-success">{{success}}</h2>
            </div>
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
        <div class="row ">
            <div class="col-md-4 mx-auto px-3 mt-5">
                <div class="mb-3 mx-5">
                    <label for="name" class="form-label"><strong>Retailer Name</strong></label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter Name" required>
                </div>  

                <div class="mb-3 mx-5 no-spinners">
                    <label for="d_no" class="form-label"><strong>Mobile Number</strong></label>
                    <input type="number" class="form-control" name="d_no" id="d_no" placeholder="Enter Mobile No." required>
                </div>
                
            
                <div class="mb-3 mx-5 no-spinners">
                    <label for="alt" class="form-label"><strong>Alternate Number</strong></label>
                    <input type="number" class="form-control" name="alt" id="alt" placeholder="Enter Alternate No.">
                </div>
                <div class="mb-3 mx-5">
                    <label for="shop" class="form-label"><strong>Shop Name</strong></label>
                    <input type="text" class="form-control" name="shop" id="shop" placeholder="Enter Shop Name" required>
                </div>
                <div class="mb-3 mx-5">
                    <label for="city" class="form-label"><strong>City</strong></label>
                    <input type="text" class="form-control" name="city" id="city" placeholder="Enter City Name" required>
                </div>
                <div class="mb-3 mx-5">
                    <label for="state" class="form-label"><strong>State</strong></label>
                    <input type="text" class="form-control" name="state" id="state" placeholder="Enter State Name" required>
                </div>
                <div class="mb-3 mt-5 mx-5">
                    <input type="submit" class="btn btn-danger w-25" value="Add">
                </div>
            </div>
        </div>    
            <div class="row">
                <div class="col-md-12">
                    
                    {% if success %}
                        <div class="alert alert-success">
                            {{success}}
                        </div>
                    {% endif %}
                    </div>
                </div>
                
            </div>
            
            </div>
            </form>
        </div>  
    </div>

    {% else %}
        <div class="text-center mt-5 text" >
          <a href="/login" class="mt-5 anchor">
              <h2 class="font-bold" style="font-size: 62px; color: #2C3E50;">{{err}}</h2>
          </a>  
        </div>
      {% endif %}
    <!-- dashboard ends -->
    {% include 'dashboard_footer.html' %}