{% load static %}

{% include 'dashboard_header.html' with me=title %}
        <!-- main content start -->
        <!-- graph start -->
  {% if user.is_authenticated %}
      
        <!-- graph ends -->
        {% if err %}
        <div class="text-center text-danger mt-5 pt-5">
          {{err}}
        </div>
        {% else %}
        <!-- dashborad start -->
        <div class="container mx-auto mt-3">
          <h2 class="mb-3">{{title}}</h2>
          <div class="table-responsive rounded-3 border border-light p-2 mb-3 bg-light">
               <table class="table mx-auto table-light table-striped mw-100 container-fluid h-100 display" data-order='[[ 1, "asc" ]]' id="table" style="min-width: max-content;">
              <thead>
                <tr>
                  <th class="text-center">First Name</th>
                  <th class="text-center">Last Name</th>
                  <th class="text-center">Mobile No</th>
                  <th class="text-center">D.O.J</th>
                  <th class="text-center">Manager / TL</th>
                  <th class="text-center">Email</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
      
              {% if user.is_staff %}
                
              <tbody>
                <!-- Replace the loop with actual data -->
                {% for x in data %}
                <tr>
                  <td class="text-center">{{x.first_name}}</td>
                  <td class="text-center">{{x.last_name}}</td>
                  <td class="text-center">{{x.mobile}}</td>
                  <td class="text-center">{{x.date_joined}}</td>
                  {% if x.manager.role == 1 %}
                  <td class="text-center">{{x.manager.first_name}} &nbsp;(super)</td>
                  {% elif x.manager.role == 2 %}
                  <td class="text-center">{{x.manager.first_name}} &nbsp;(manager)</td>
                  {% elif x.tl %}
                  <td class="text-center">{{x.tl.first_name}}&nbsp;(TL)</td>
                  {% endif %}
                  <td class="card-text">{{x.email}}</td>
                  
                  <td class="text-center">
                    <a
                      href="https://ztecrm.com/view_user/{{x.id}}"
                      class="btn btn-primary viewedit"
                    >
                      View
                    </a>
                    <a
                      href="https://ztecrm.com/edit_user/{{x.id}}"
                      class="btn btn-warning viewedit"
                    >
                      Edit
                    </a>
                   
                    <a
                      href="https://ztecrm.com/viewlead/{{x.id}}"
                      class="btn btn-success me-2 viewedit"
                    >
                    ViewLeads
                    </a>
                    <button type="button" class="btn btn-primary viewedit" data-bs-toggle="modal" data-bs-target="#modal{{x.id}}">
                      Achievments
                    </button>
                    
                  </td>
                  {% with k=x.id|default:"0" %}
                    {% for key, value in counts.items %}
                    {% if key == k %}
                  <div class="modal fade" id="modal{{x.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5 text-dark" id="staticBackdropLabel">Achievments MTD&nbsp;&nbsp;Picked:&nbsp;&nbsp;{{ value.created }}</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-dark">
                          
                          <div class="d-flex justify-content-between">
                            <p><strong>Pending Call:</strong>&nbsp;&nbsp;{{ value.noncall }}</p>
                           <a href="/userlead/1/{{x.id}}"><p class="btn btn-light">View List</p></a>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <p><strong>Interested:</strong>&nbsp;&nbsp;{{ value.interested }}</p>
                            <a href="/userlead/2/{{x.id}}"><p class="btn btn-primary">View List</p></a>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <p><strong>Not Interested:</strong>&nbsp;&nbsp;{{ value.notinterested }}</p>
                            <a href="/userlead/3/{{x.id}}"><p class="btn btn-danger">View List</p></a>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <p><strong>FollowUp:</strong>&nbsp;&nbsp;{{ value.followup }}</p>
                            <a href="/userlead/4/{{x.id}}"><p class="btn btn-warning">View List</p></a>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <p><strong>Completed:</strong>&nbsp;&nbsp;{{ value.completed }}</p>
                            <a href="/userlead/5/{{x.id}}"><p class="btn btn-success">View List</p></a>
                        </div>
                          
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">View All</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                      {% endfor %}
                  {% endwith %}
                </tr>
                {% endfor %}
              </tbody>
              {% endif %}
              
            </table>
            </div>
      </div>
      
    </div>
    {% endif %}
    {% else %}
        <div class="text-center mt-5 text" >
          <a href="/login" class="mt-5 anchor">
              <h2 class="font-bold" style="font-size: 62px; color: #2C3E50;">{{err}}</h2>
          </a>  
        </div>
      {% endif %}
    <!-- dashboard ends -->
    {% include 'dashboard_footer.html' %}
    